# Python
__pycache__/
*.pyc

# Ambiente virtual
venv/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Backups
bkp/
backup/

# Office temporários
~$*.xlsx

# Credenciais locais
.env
*.env

# dados reais
data/dados.json
data/dss.json

# scripts locais
scripts/

# ======================
# SCRIPTS CORPORATIVOS
# ======================
scripts/

# Opcional:
# não subir json local temporário
# data/*.bak